div.content{
	/*text-align: center;*/
	font-family: purisa;
	min-height: 100%;
	background-color: lightblue;
	border-radius: 50px;
	opacity: 0.8;
	padding-left: 25px;
}

div.blogheading{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
div.oblogheading{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

div.otherblog{

	min-height: 100%;
	border-radius: 50px;
	padding-left: 25px;
	background-color: orange;
	opacity: 0.8;

}

div.share{
	border-radius: 25px;
	text-align: center;
	background-color: lightgreen;
	opacity: 0.8;
}