div.heading{
	text-align: center;
	font-size: 30px;
}


div.comment{

	width:inherit;
	background-color:#e0d0ba;
	background-color:#C9E9F8;
}

div.sample_comment{
	background-color: #0dc2ff;

	width: 400px;
	padding:20px;
	border-radius: 10px;
	margin-left: 10px;
}

div.sample_name{
	background-color: #016684;
	width: 200px;
	padding: 10px;
	border-radius: 5px;
}

div.test_comment{
	background-color: #dedede;
	padding: 10px;
	border-radius: 5px;
}


input.name{
	border-radius: 5px;
	background-color: white;
	margin-left: 10px;


}
textarea.your_comment{
	border-radius: 5px;
	margin-left: 10px;
}