    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}




*{
    box-sizing: border-box;
	
}

	




[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}



.row::after {
    content: "";
    clear: both;
    display: block;
}





html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}




body{
		/*background-color: blue;*/
		background-image: url('https://www.vishalpandey.xyz/pics/header.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		font-family: 'Baloo Bhaina', cursive;
}

/*
div.inner-container{

		background-image: url("pics/vib.jpg");
		height: 800px;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}*/
div.container{

		height: 100%;
		height: 100vh;
		text-shadow: white 0px 0px 20px; 
}
div.container1{

		background-image: url("pics/vib.jpg");
		height: 400px;
		/*height: 100vh;*/
		/*width: 1024px;*/
		background-attachment: fixed;
		background-position: left;
		background-repeat: no-repeat;
		/*background-size: 150% 200%;*/
		background-size: cover;
		opacity: 0.8;
		width: 100%;
		/*border-bottom-left-radius: 100px;*/
		/*border-bottom-right-radius: 100px;*/

}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-0.3px) scale(1);
}

div.container3{

		text-shadow: white 0px 0px 5px;


		background-image: url("pics/baa.jpg");
		height: auto;
		background-attachment: fixed;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 1;
		border-top-left-radius: 250px;
		border-top-right-radius: 250px;
		/*border-radius: 250px;*/
}

div.social{

	/*height: 800px; */
	background-color: black;
	padding-top: 20px;
	color: white;
	
}

div.heading{
	/*align-self: center;*/
	/*margin-top: 50px;*/
	font-size: 50px;
	text-align: center;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	border-style: solid;

	font-family: 'Baloo Bhaina', cursive;
	color: white;
	border-radius: 100px;
}



div.fb-container{

	/*width: 50%;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/	
}

div.fb-container iframe{

	width: inherit;
	border:hidden;
	scroll-behavior: auto;




}





div.fb-page{
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*float: ;*/
	margin-left: 5%;

}

div.insta-container{
		width: 40%;
		float: right;
		margin-right: 5%;
		height: 600px;
		display: none;
}

div.about{
	font-family: 'Baloo Bhaina', cursive;

	text-align: left;
	padding: 50px 150px 50px 150px;	
	opacity: 0.8;
	border-radius: 500px;
	/*background: url("pics/ba.png");*/
	background-color: #9bd8d8;
}



div.container4{

		/*background-image: url("https://www.vishalpandey.xyz/pics/night.jpg");*/
		height: 50%;
		background-attachment: fixed;
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: black;

}

div.address{
	background-color: white;
	border-radius: 50px;
	padding-left: 20px;
}




@media only screen and (max-width: 768px) {
/* For mobile phones: */
[class*="col-"] {
    width: 100%;

}
	
div.about{
	font-family: 'Baloo Bhaina', cursive;

	text-align: left;
	padding: 0;	
	opacity: 0.8;
	border-radius: 100px;
	/*background: url("pics/ba.png");*/
	background-color: #9bd8d8;
}

}








div.vishal{
	min-height: 50%;
	background-color: black;
	color: white;
	opacity: 0.8;	
}

div.fhead{
	text-align: center;
	text-decoration: underline;
}
div.fcontact , div.fsitemap , div.fsocial{

	margin-right: 1px white;


}


div.fsitemap li a{

	text-decoration: none;
	list-style-type: none;
	color: white;


}
div.fsitemap li {

	list-style-type: none;

}
div.fsocial li {

	display: inline;

	list-style-type: none;

}

div.fsocial img{
	width: 50px;
	height: 50px;
}

