<mat-toolbar class="footer sitemap">
	<a href="tel:9717130893">+91-9717130893</a>
	<a href="mailto:pandeyvishal64742@gmail.com">pandeyvishal64742@gmail.com</a>
</mat-toolbar>
<mat-toolbar class="footer">
	<a href="https://www.facebook.com/the.vishal.pandey"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
	<a href="https://www.instagram.com/vishalpandeyxyz/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	<a href="https://github.com/vishal-pandey"><i class="fa fa-github" aria-hidden="true"></i></a>
	<a href="https://twitter.com/vishalpandeyxyz"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	<a href="https://www.linkedin.com/in/thevishalpandey/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	<a href="https://vishalpandey.quora.com/"><i class="fa fa-quora" aria-hidden="true"></i></a>
	<a href="https://stackoverflow.com/users/7626313/vishal-pandey"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
	<a href="https://plus.google.com/u/0/109712308677416674874"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
</mat-toolbar>
<mat-toolbar class="footer sitemap">
	<a href="https://www.vishalpandey.xyz/">Home</a>
	<a href="https://blog.vishalpandey.xyz/">blog</a>
	<a href="https://www.vishalpandey.xyz/portfolio">Portfolio</a>
	<a href="https://www.vishalpandey.xyz/skills">Need Me</a>
	<a href="https://www.vishalpandey.xyz/contact">Contact Me</a>
</mat-toolbar>
