.container{
	width: 100%;
	min-height: 100vh;
	background-color: #CFD8DC;
}
h2{
	margin: 0;
	text-align: center;
	color: #37474F;
	font-family: 'Bitter', serif;
}
.content{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 20px;
}

content blockquote{
	max-width: 200px!important;
}