<mat-toolbar class="header">
	<span class="logo">
		<h1 routerLink="/"><span class="avatar"></span></h1>
		<h1 routerLink="/">Vishal Pandey</h1>
	</span>
	<span class="menu">
		<a href="https://www.youtube.com/channel/UCuGh7fbuAbWWXSn1CCCT3CQ?view_as=subscriber" target="_blank"><button mat-button>YouTube</button></a>
		<a routerLink="/portfolio"><button mat-button>Portfolio</button></a>
		<a routerLink="/skills"><button mat-button>Skills</button></a>
		<a routerLink="/contact"><button mat-button>Contact Me</button></a>
		<!-- <a href="/gallery"><button mat-button>Gallery</button></a> -->
		<a href="https://github.com/vishal-pandey/www.vishalpandey.xyz"><button mat-button><i class="fa fa-github" aria-hidden="true" style="font-size: 25px;"></i></button></a>
	</span>
</mat-toolbar>