div.content{
	/*text-align: center;*/
	font-family: purisa;
	min-height: 100%;
	/*background-color: lightblue;*/
	background-color: rgba(173,216,230,0.8);
	border-radius: 0px;
	/*opacity: 0.8;*/
	/*padding-left: 25px;*/
	/*background-color: green;*/
	font-family: 'Rock Salt';
	padding:0 50px 0 50px; 
}

div.blogheading{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
div.oblogheading{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

div.otherblog{

	min-height: 100%;
	border-radius: 0 0 50px;
	padding-left: 25px;
	background-color: lightblue;
	opacity: 0.8;
	border-left: 1px grey solid;

	

}
div.otherblog a{

text-decoration: none;
color: blue;


}
div.otherblog li{

	list-style-type: none;


}
div.share{
	border-radius: 25px;
	text-align: center;
	background-color: lightgreen;
	opacity: 0.8;
}

div.commentheading{


width: 100%;
text-align: center;
padding: 0px 0px 0px 0px;
font-size: 40px;
background: blue;

font-family:  'Gloria Hallelujah';
border-radius: 0 0px 1000px 1000px;



}


@media screen and (max-width:768px) {
div.otherblog{

height: auto;


}


select:focus,
  textarea:focus,
  input:focus {
    font-size: 26px;
}


}

